*{  
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Gill Sans MT';
}

/* .wrapper{
    width: 90;
    max-width: 1440px;
} */



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECA457;
    height: 130px;
}

.icone{
    display: flex;
    justify-content: space-between;
    width: 140px;
    height: 140px;
    padding: 10px 30px 10px 50px;
}

a{
    font-size: 25px;
    margin-left: 20px;
    margin-right: 50px;
    text-decoration: none;
    color: white;}

.cenoura {
    width: 100vw;  /* Largura total da tela */
    height: auto;  
    display: block;  /* Garante que a imagem ocupe todo o espaço */}

.comidas{
    justify-content: center;
    align-items: center;
}
h1{
    padding-top: 60px;
    font-weight: 100;
    text-align: center;
    font-size: 60px;
    color: #ECA457;
    padding-bottom: 40px;}

.p {
    text-align: justify center;
    font-size: 35px;
    display: flex;
    justify-content: center;}

.receitas{
    gap: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    padding-top: 30px;
}

.icon{
    padding-right: 15px; 
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.caixa{
    width: 400px;
    margin: 0px 100px;
    align-items: center; 
    justify-content: center;
    display: flex;
    flex-direction: row;}

.teste{
    display: flex;
    justify-content: center;
    flex-direction: column;}

.titulo {
    font-weight: 100;
    font-size: 35px;}

.subtitulo{
    color: #AFA7A7;
    font-size: 25px;
}

hr{ 
    border: #ECA457 solid 2px;
}

.nova{
    justify-content: center;
    gap: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 80px;
}

img{
    width: 100px;
    height: 100px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #ECA457;
    height:150px;
}
