*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Gill Sans MT'}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECA457;
    height: 130px;}

.icone{
    display: flex;
    justify-content: space-between;
    width: 140px;
    height: 140px;
    padding: 10px 30px 10px 50px;}

a{
    font-size: 25px;
    margin-left: 20px;
    margin-right: 50px;
    text-decoration: none;
    color: white;}

.cenoura {
    width: 100vw;  /* Largura total da tela */
    height: auto;  
    display: block;  /* Garante que a imagem ocupe todo o espaço */}

.comidas{
    justify-content: center;
    align-items: center;
}
h1{
    padding-top: 60px;
    font-weight: 100;
    text-align: center;
    font-size: 60px;
    color: #ECA457;
    padding-bottom: 40px;}

.p {
    text-align: justify center;
    font-size: 35px;
    display: flex;
    justify-content: center;}

.receitas{
    gap: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.icon{
    margin-right: 20px;
    padding-top: 50px;
    height: 100px;
    width: 100px;
}

.caixa{
    width: 400px;
    margin: 0px 100px;
    align-items: center; 
    justify-content: center;
    display: flex;}

.teste{
    flex-direction: column;}

.titulo, .subtitulo{
    justify-content:  center;
    font-size: 20px;}